.Error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 2em 0;
  color: white;
  background-color: #555555;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: -2px -1px 29px -5px rgba(141, 134, 134, 0.31);
}

.Error i {
  font-size: 60px;
}